tests/Ups/Tests/_files/entities/LabelRecoveryRequest/LabelSpecification.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema"            xmlns:xsd="http://www.w3.org/2001/XMLSchema">    <xsd:element name="LabelSpecification">        <xsd:complexType>            <xsd:sequence>                <xsd:element minOccurs="0" name="HTTPUserAgent" type="xsd:string"/>                <xsd:element name="LabelImageFormat" type="CodeType"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="CodeType">        <xsd:sequence>            <xsd:element name="Code" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>