tests/Ups/Tests/_files/entities/LabelRecoveryRequest/Translate.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema"            xmlns:xsd="http://www.w3.org/2001/XMLSchema">    <xsd:element name="Translate">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="LanguageCode" type="xsd:string"/>                <xsd:element minOccurs="0" name="DialectCode" type="xsd:string"/>                <xsd:element minOccurs="0" name="Code" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>