tests/Ups/Tests/_files/entities/QuantumViewRequest/DateTimeRange.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            xmlns:ups="http://www.ups.com/XMLSchema">    <xsd:element name="DateTimeRange">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="BeginDateTime" type="xsd:string"/>                <xsd:element minOccurs="0" name="EndDateTime" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>