tests/Ups/Tests/_files/entities/TrackResponse/Error.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="unqualified">    <xsd:element name="Error">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="ErrorSeverity" type="xsd:string"/>                <xsd:element name="ErrorCode" type="xsd:string"/>                <xsd:element name="ErrorDescription" type="xsd:string" minOccurs="0"/>                <xsd:element name="MinimumRetrySeconds" type="xsd:string" minOccurs="0"/>                <xsd:element name="ErrorLocation" type="ErrorLocationType" minOccurs="0" maxOccurs="unbounded"/>                <xsd:element name="ErrorDigest" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="ErrorLocationType">        <xsd:sequence>            <xsd:element name="ErrorLocationElementName" type="xsd:string" minOccurs="0"/>            <xsd:element name="ErrorLocationElementReference" type="xsd:string" minOccurs="0"/>            <xsd:element name="ErrorLocationAttributeName" type="xsd:string" minOccurs="0"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>