tests/Ups/Tests/_files/entities/TrackResponse/PackageServiceOptions.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="unqualified">    <xsd:element name="PackageServiceOptions">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="COD" type="PackageCOD" minOccurs="0"/>                <xsd:element name="SignatureRequired" type="CodeDescriptionType" minOccurs="0"/>                <xsd:element name="ImportControl" type="xsd:string" minOccurs="0"/>                <xsd:element name="CommercialInvoiceRemoval" type="xsd:string" minOccurs="0"/>                <xsd:element name="UPScarbonneutral" type="xsd:string" minOccurs="0"/>                <xsd:element name="USPSPICNumber" type="xsd:string" minOccurs="0"/>                <xsd:element name="ExchangeBased" type="xsd:string" minOccurs="0"/>                <xsd:element name="PackAndCollect" type="xsd:string" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="MonetaryType">        <xsd:sequence>            <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>            <xsd:element name="MonetaryValue" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="CodeDescriptionType">        <xsd:sequence>            <xsd:element name="Code" type="xsd:string"/>            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="PackageCOD">        <xsd:sequence>            <xsd:element name="CODAmount" type="MonetaryType" minOccurs="0"/>            <xsd:element name="ControlNumber" type="xsd:string" minOccurs="0"/>            <xsd:element name="CODStatus" type="xsd:string" minOccurs="0"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>