tests/Ups/Tests/_files/entities/TrackResponse/Requested.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="unqualified">    <xsd:element name="Requested">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="Date" type="xsd:string"/>                <xsd:element name="Time" type="xsd:string" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>