tests/Ups/Tests/_files/entities/TrackResponse/UnitOfMeasurement.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="unqualified">    <xsd:element name="UnitOfMeasurement">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="Code" type="xsd:string"/>                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>