tests/Ups/Tests/_files/entities/LabelRecoveryResponse/Image.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema"            xmlns:xsd="http://www.w3.org/2001/XMLSchema">    <xsd:element name="Image">        <xsd:complexType>            <xsd:sequence>                <xsd:element minOccurs="0" name="ImageFormat" type="CodeType"/>                <xsd:element minOccurs="0" name="GraphicImage" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="CodeType">        <xsd:sequence>            <xsd:element name="Code" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>