tests/Ups/Tests/_files/entities/LabelRecoveryResponse/LabelResults.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema"            xmlns:xsd="http://www.w3.org/2001/XMLSchema">    <xsd:element name="LabelResults">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="TrackingNumber" type="xsd:string"/>                <xsd:element name="LabelImage" type="LabelImageType"/>                <xsd:element minOccurs="0" name="Receipt" type="ReceiptType"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="LabelImageType">        <xsd:sequence>            <xsd:element name="LabelImageFormat" type="CodeType"/>            <xsd:element name="GraphicImage" type="xsd:string"/>            <xsd:element minOccurs="0" name="HTMLImage" type="xsd:string"/>            <xsd:element minOccurs="0" name="PDF417" type="xsd:string"/>            <xsd:element minOccurs="0" name="InternationalSignatureGraphicImage" type="xsd:string"/>            <xsd:element minOccurs="0" name="URL" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="ReceiptType">        <xsd:sequence>            <xsd:element minOccurs="0" name="HTMLImage" type="xsd:string"/>            <xsd:element minOccurs="0" name="Image" type="ImageType"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="ImageType">        <xsd:sequence>            <xsd:element minOccurs="0" name="ImageFormat" type="CodeType"/>            <xsd:element minOccurs="0" name="GraphicImage" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="CodeType">        <xsd:sequence>            <xsd:element name="Code" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>