tests/Ups/Tests/_files/entities/LabelRecoveryResponse/PickupDateRange.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema"            xmlns:xsd="http://www.w3.org/2001/XMLSchema">    <xsd:element name="PickupDateRange">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="BeginDate" type="xsd:string"/>                <xsd:element name="EndDate" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>