tests/Ups/Tests/_files/entities/LabelRecoveryResponse/TransactionReference.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema"            xmlns:xsd="http://www.w3.org/2001/XMLSchema">    <xsd:element name="TransactionReference">        <xsd:complexType>            <xsd:sequence>                <xsd:element minOccurs="0" name="CustomerContext" type="xsd:string"/>                <xsd:element minOccurs="0" name="XpciVersion" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>