tests/Ups/Tests/_files/entities/TrackRequest/ShipperAccountInfo.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="unqualified">    <xsd:element name="ShipperAccountInfo">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>                <xsd:element name="CountryCode" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>