tests/Ups/Tests/_files/entities/RateRequest/DeliveryOptions.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="DeliveryOptions">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="LiftGateAtDeliveryIndicator" type="xsd:string" minOccurs="0"/>                <xsd:element name="DropOffAtUPSFacilityIndicator" type="xsd:string" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>