tests/Ups/Tests/_files/entities/RateRequest/DryIce.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="DryIce">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="RegulationSet" type="xsd:string"/>                <xsd:element name="DryIceWeight" type="DryIceWeightType"/>                <xsd:element name="MedicalUseIndicator" type="xsd:string" minOccurs="0"/>                <xsd:element name="AuditRequired" type="xsd:string" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="UnitOfMeasurementType">        <xsd:sequence>            <xsd:element name="Code" type="xsd:string"/>            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="DryIceWeightType">        <xsd:sequence>            <xsd:element name="UnitOfMeasurement" type="UnitOfMeasurementType"/>            <xsd:element name="Weight" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>