tests/Ups/Tests/_files/entities/RateRequest/InsuredValue.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="InsuredValue">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>                <xsd:element name="MonetaryValue" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>