tests/Ups/Tests/_files/entities/RateRequest/OnCallAir.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="OnCallAir">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="Schedule" type="ScheduleType" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="ScheduleType">        <xsd:sequence>            <xsd:element name="PickupDay" type="xsd:string" minOccurs="0"/>            <xsd:element name="Method" type="xsd:string" minOccurs="0"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>