tests/Ups/Tests/_files/entities/RateRequest/ShipFrom.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="ShipFrom">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>                <xsd:element name="Address" type="AddressType"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="AddressType">        <xsd:sequence>            <xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>            <xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>            <xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>            <xsd:element name="City" type="xsd:string" minOccurs="0"/>            <xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>            <xsd:element name="CountryCode" type="xsd:string"/>            <xsd:element name="ResidentialAddressIndicator" type="xsd:string" minOccurs="0"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>