tests/Ups/Tests/_files/entities/RateRequest/StructuredPhoneNumber.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="StructuredPhoneNumber">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="PhoneCountryCode" type="xsd:string" minOccurs="0"/>                <xsd:element name="PhoneDialPlanNumber" type="xsd:string"/>                <xsd:element name="PhoneLineNumber" type="xsd:string"/>                <xsd:element name="PhoneExtension" type="xsd:string" minOccurs="0"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>