tests/Ups/Tests/_files/entities/RateRequest/TransactionReference.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">    <xsd:element name="TransactionReference">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="CustomerContext" type="xsd:string" minOccurs="0"/>                <xsd:element name="ToolVersion" type="xsd:string" minOccurs="0" ups:usage="notused"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>