tests/Ups/Tests/_files/entities/TimeInTransitResponse/Candidate.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            xmlns:ups="http://www.ups.com/XMLSchema">    <xsd:element name="Candidate">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="AddressArtifactFormat" type="AddressArtifactFormatType"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="AddressArtifactFormatType">        <xsd:sequence>            <xsd:element minOccurs="0" name="PoliticalDivision3" type="xsd:string"/>            <xsd:element minOccurs="0" name="PoliticalDivision2" type="xsd:string"/>            <xsd:element minOccurs="0" name="PoliticalDivision1" type="xsd:string"/>            <xsd:element minOccurs="0" name="Country" type="xsd:string"/>            <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>            <xsd:element minOccurs="0" name="PostcodePrimaryHigh" type="xsd:string"/>            <xsd:element minOccurs="0" name="PostcodePrimaryLow" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>