tests/Ups/Tests/_files/entities/TimeInTransitResponse/Error.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            xmlns:ups="http://www.ups.com/XMLSchema">    <xsd:element name="Error">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="ErrorSeverity" type="xsd:string"/>                <xsd:element name="ErrorCode" type="xsd:string"/>                <xsd:element minOccurs="0" name="ErrorDescription" type="xsd:string"/>                <xsd:element minOccurs="0" name="MinimumRetrySeconds" type="xsd:string"/>                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ErrorLocation"/>                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrorDigest" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:element name="ErrorLocation">        <xsd:complexType>            <xsd:sequence>                <xsd:element minOccurs="0" name="ErrorLocationElementName" type="xsd:string"/>                <xsd:element minOccurs="0" name="ErrorLocationElementReference" type="xsd:string" ups:usage="notused"/>                <xsd:element minOccurs="0" name="ErrorLocationAttributeName" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>