tests/Ups/Tests/_files/entities/TimeInTransitResponse/ErrorLocation.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            xmlns:ups="http://www.ups.com/XMLSchema">    <xsd:element name="ErrorLocation">        <xsd:complexType>            <xsd:sequence>                <xsd:element minOccurs="0" name="ErrorLocationElementName" type="xsd:string"/>                <xsd:element minOccurs="0" name="ErrorLocationElementReference" type="xsd:string" ups:usage="notused"/>                <xsd:element minOccurs="0" name="ErrorLocationAttributeName" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>