tests/Ups/Tests/_files/entities/TimeInTransitResponse/EstimatedArrival.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            xmlns:ups="http://www.ups.com/XMLSchema">    <xsd:element name="EstimatedArrival">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="DayOfWeek" type="xsd:string"/>                <xsd:element name="Time" type="xsd:string"/>                <xsd:element name="Date" type="xsd:string"/>                <xsd:element name="PickupDate" type="xsd:string"/>                <xsd:element name="PickupTime" type="xsd:string"/>                <xsd:element name="BusinessTransitDays" type="xsd:string"/>                <xsd:element minOccurs="0" name="TotalTransitDays" type="xsd:string"/>                <xsd:element minOccurs="0" name="CustomerCenterCutoff" type="xsd:string"/>                <xsd:element minOccurs="0" name="RestDays" type="xsd:string"/>                <xsd:element minOccurs="0" name="HolidayCount" type="xsd:string"/>                <xsd:element minOccurs="0" name="DelayCount" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>