tests/Ups/Tests/_files/entities/TimeInTransitResponse/Monetary.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            xmlns:ups="http://www.ups.com/XMLSchema">    <xsd:element name="Monetary">        <xsd:complexType>            <xsd:sequence>                <xsd:element minOccurs="0" name="CurrencyCode" type="xsd:string"/>                <xsd:element name="MonetaryValue" type="xsd:string"/>            </xsd:sequence>        </xsd:complexType>    </xsd:element></xsd:schema>