tests/Ups/Tests/_files/entities/TimeInTransitResponse/ServiceSummary.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema">  <xsd:element name="ServiceSummary">    <xsd:complexType>      <xsd:sequence>          <xsd:element name="Service" type="CodeType"/>          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Guaranteed" type="CodeType"/>          <xsd:element minOccurs="0" name="Disclaimer" type="xsd:string"/>          <xsd:element name="EstimatedArrival" type="EstimatedArrivalType"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:complexType name="EstimatedArrivalType">    <xsd:sequence>      <xsd:element name="DayOfWeek" type="xsd:string"/>      <xsd:element name="Time" type="xsd:string"/>      <xsd:element name="Date" type="xsd:string"/>      <xsd:element name="PickupDate" type="xsd:string"/>      <xsd:element name="PickupTime" type="xsd:string"/>      <xsd:element name="BusinessTransitDays" type="xsd:string"/>      <xsd:element minOccurs="0" name="TotalTransitDays" type="xsd:string"/>      <xsd:element minOccurs="0" name="CustomerCenterCutoff" type="xsd:string"/>      <xsd:element minOccurs="0" name="RestDays" type="xsd:string"/>      <xsd:element minOccurs="0" name="HolidayCount" type="xsd:string"/>      <xsd:element minOccurs="0" name="DelayCount" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType>  <xsd:complexType name="CodeType">    <xsd:sequence>      <xsd:element name="Code" type="xsd:string"/>      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType></xsd:schema>