tests/Ups/Tests/_files/entities/QuantumViewResponse/Activity.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="Activity">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Date" type="xsd:string" minOccurs="0"/>
                <xsd:element name="Time" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
