tests/Ups/Tests/_files/entities/QuantumViewResponse/AddressExtendedInformation.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="AddressExtendedInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                <xsd:element name="Low" type="xsd:string" minOccurs="0"/>
                <xsd:element name="High" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
