tests/Ups/Tests/_files/entities/QuantumViewResponse/AddressArtifactFormat.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="AddressArtifactFormat">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PoliticalDivision2" type="xsd:string" minOccurs="0"/>
                <xsd:element name="PoliticalDivision1" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
