tests/Ups/Tests/_files/entities/QuantumViewResponse/CSVFormat.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="CSVFormat">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
                <xsd:element name="Header" type="xsd:string" minOccurs="0"/>
                <xsd:element name="File" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
