tests/Ups/Tests/_files/entities/QuantumViewResponse/DateRange.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="DateRange">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="BeginDate" type="xsd:string"/>
                <xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
