tests/Ups/Tests/_files/entities/QuantumViewResponse/ErrorLocation.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="ErrorLocation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ErrorLocationElementName" type="xsd:string" minOccurs="0"/>
                <xsd:element name="ErrorLocationElementReference" type="xsd:string" minOccurs="0" ups:usage="notused"/>
                <xsd:element name="ErrorLocationAttributeName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
