tests/Ups/Tests/_files/entities/QuantumViewResponse/FailureNotificationCode.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">
    <xsd:element name="FailureNotificationCode">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Code" type="xsd:string"/>
                <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
